footer {
    text-align: center;
    background-color:grey;
    color:yellow;
    padding:20px;
    position: relative;
    margin-top: 20px;
    bottom: 0;
    width:100%;
    }
bk {
    margin: 50px;
}